@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.tomato-color {
    color: tomato;
}

.blue-color {
    color: blueviolet;
}

.green-color {
    color: green;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.first-part {
    background: url("images/top-banner.png") no-repeat top left;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

.experience-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#web-developer-experience {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#baby-developer-experience {
    border-left: 5px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}